html, body {height:100%;}
html {display:table; width:100%;}
body {display:table-cell; text-align:center; vertical-align:middle; font-family: "Arial";}
a{text-decoration: none; color: #0096ff;}

.pageTitle{font-size: 36px;}
.pageTagline{font-size: 18px;}

.product-container{width:300px; border:1px solid #aaa; margin:10px; display:inline-block; transition: opacity 1000ms;}
.product-container img{width:100%; height:auto;}
.product-container.fadeOut{opacity: 0;}

.productTitle{font-size:16px;}
.productTagline{font-size:16px;}
.description{padding:10px;}
.popup{display: none; position: absolute; z-index: 99999; width: 400px; padding: 10px; background: #EEEFEB; color: #000000; border: 1px solid #4D4F53; margin: 0px; -webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1); box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);}
.boxclose{float:right; margin-top:-10px; margin-right:-10px; cursor:pointer; color: #fff; border: 1px solid #AEAEAE; border-radius: 30px; background: #605F61; font-size: 31px; font-weight: bold; display: inline-block; line-height: 0px; padding: 11px 3px;}
.boxclose:before {content: "x";}

#body_container{display: none;}
#loading {display: block; position: absolute; top: 0; left: 0; z-index: 100; width: 100vw; height: 100vh; background-color: rgba(192, 192, 192, 0.5); background-image: url("MnyxU.gif"); background-repeat: no-repeat; background-position: center;}